PORT=3001

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=iqvizyon

MONGODB_USERS_COLLECTION=iqvizyon-users
MONGODB_DICTIONARY_COLLECTION=iqvizyon-dictionary

JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=12h

CORS_ORIGIN=http://localhost:5173,http://192.168.10.158:5173
